<div class='col-sm-12 tall'>
    <div class="col-sm-8 tall">
        <section id="map-main" class="tall" ng-controller="MapCtrl">
            <div ui-map="myMap" ui-options="mapOptions" class="active-map tall"></div>
        </section>
    </div>
    <div class="col-sm-4">
        <ul class="list-group slightly-transparent">
            <li class="list-group-item" ng-repeat="x in stream">
                {{x.name}} <span class="pull-right">
                <span class="glyphicon glyphicon-euro"></span>{{x.price}}</span>
            </li>
        </ul>
    </div>
</div>