<nav class="navbar navbar-default navbar-fixed-top navbar-transparent" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand"><strong>Delivery hero map</strong></a>
    </div>

    <form class="navbar-form navbar-right slightly-transparent" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button title="Reset api" class="btn btn-danger" ng-click="reset()">
            <span class="glyphicon glyphicon-repeat"></span>
        </button>
    </form>
</nav>

<div class='col-sm-12 tall'>
    <div class="col-sm-8 tall">
        <section id="map-main" class="tall" ng-controller="MapCtrl">
            <div ui-map="myMap" ui-options="mapOptions" class="active-map tall"></div>
        </section>
    </div>
    <div class="col-sm-4">
        <ul class="list-group slightly-transparent">
            <li class="list-group-item list-row" ng-animate="'animate'" ng-repeat="x in stream">{{x.name}}
                <span class="pull-right"><span class="glyphicon glyphicon-euro"></span>{{x.price}}</span>
            </li>
        </ul>
    </div>
</div>